
.left {
  
    &-enter {
        transform: translate(-120%);
  
        &-active {
            transition: transform 0.3s 0.5s ease-in-out;
        }
    }
  
    &-leave {
      
        &-to {
            transform: translate(-120%);
        }
  
        &-active {
            transition: transform 0.5s ease-in-out;
        }
    }
  }
  
  .right {
  
    &-enter {
        transform: translate(120%);
  
        &-active {
            transition: transform 0.3s 0.5s ease-in-out;
        }
  
    
    }
  
    &-leave {
        &-to {
            transform: translate(120%);
        }
  
        &-active {
            transition: transform 0.5s ease-in-out;
        }
    }
  }
  
  .powerright {
  
    &-enter {
        transform: translate(120%);
  
        &-active {
            transition: transform 0.3s 0.5s ease-in-out;
        }
    }
  
    &-leave {
        &-to {
            transform: translate(120%);
        }
  
        &-active {
            transition: transform 0.5s ease-in-out;
        }
    }
  }
  