@import "_normalize.scss"; // api: https://github.com/necolas/normalize.css/
@import "_animation.scss"; // api: https://github.com/necolas/normalize.css/
// @import "swiper/dist/css/swiper.css";
@import "~video-react/styles/scss/video-react"; // or import scss
// @import "../icon/font/iconfont.css"; // or import scss
$titleColor: #67b3d2;

// @import "./variables.scss";
// @import "./mixin.scss";
// @import "./transition.scss";
// @import "./element-ui.scss";
// @import "./sidebar.scss";

// .icon {
//     width: 1em; height: 1em;
//     vertical-align: -0.15em;
//     fill: currentColor;
//     overflow: hidden;
// }

@media screen and (min-width: 2000px) {
    .chart-item:not(.table-content) {
        p {
            font-size: 20px;
        }
        span {
            font-size: 20px;
        }
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}


html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}